
html {

    background-color: #8a33c1;
    
    color: #D58A07;
    font-family: 'Saira Stencil One', cursive;
    
    margin:0 auto;
    text-align: center;

   background-image: url(beautiful-bloom-blossom-541484.jpg);
    background-size: 320%;

    
}

img {
    width: 60%;
}





/*D58A07, 653306, 717682, F9DC04, 255BD2*/h
